<mat-toolbar color="primary">
	<mat-toolbar-row>
		<button routerLink="/"
				mat-icon-button>
			<mat-icon>arrow_back</mat-icon>
		</button>
		<span>MCDesigner</span>
	</mat-toolbar-row>
</mat-toolbar>

<form name="frm-login"
	  (ngSubmit)="doRegister($event)">
	<mat-card class="center-card">
		<mat-card-header>
			<mat-card-title>Register</mat-card-title>
		</mat-card-header>
		<mat-card-content class="center-card-fields">
			<mat-form-field>
				<mat-label>Email</mat-label>
				<input type="email"
					   matInput
					   [(ngModel)]="registerData.email"
					   [disabled]="registerSending"
					   required
					   name="email">
			</mat-form-field>
			<mat-form-field>
				<mat-label>Password</mat-label>
				<input matInput
					   type="password"
					   [(ngModel)]="registerData.pass"
					   [disabled]="registerSending"
					   required
					   name="pass">
			</mat-form-field>
			<mat-form-field>
				<mat-label>Repeat password</mat-label>
				<input matInput
					   type="password"
					   [(ngModel)]="registerData.conf"
					   [disabled]="registerSending"
					   required
					   name="conf">
			</mat-form-field>
			<fieldset *ngIf="registerEmailError"
					  class="center-card-error">
				<legend>Error</legend>
				Email is alrady in use.
			</fieldset>
			<fieldset *ngIf="registerPassError"
					  class="center-card-error">
				<legend>Error</legend>
				Passwords don't match.
			</fieldset>
		</mat-card-content>
		<mat-card-actions class="center-card-buttons center-card-buttons-end">
			<button mat-raised-button
					color="primary"
					[disabled]="registerSending"
					type="submit">
				<mcd-loading *ngIf="registerSending"></mcd-loading>
				Continue
			</button>
		</mat-card-actions>
	</mat-card>
</form>