<mat-drawer-container class="container"
					  [hasBackdrop]="true">
	<mat-drawer #drawer
				mode="side">
		<h1 class="drawer-title">MCDesigner</h1>

		<mat-nav-list>
			<a mat-list-item
			   [routerLink]="['/profile']">
				<mat-icon matListItemIcon>account_circle</mat-icon>
				<div matListItemTitle>Profile</div>
			</a>
			<a mat-list-item
			   (click)="logout($event)">
				<mat-icon matListItemIcon>power_settings_new</mat-icon>
				<div matListItemTitle>Exit</div>
			</a>
		</mat-nav-list>
	</mat-drawer>
	<mat-drawer-content>

		<mat-toolbar>
			<mat-toolbar-row>
				<button mat-icon-button
						aria-label="Open menu"
						(click)="drawer.toggle()">
					<mat-icon>menu</mat-icon>
				</button>
				<span class="flex-space">MCDesigner</span>
				<button mat-icon-button
						aria-label="Edit designs"
						(click)="editDesigns()">
					@if (!designsEdit()) {
					<mat-icon>create</mat-icon>
					}
					@else {
					<mat-icon>close</mat-icon>
					}
				</button>
			</mat-toolbar-row>
		</mat-toolbar>

		<mat-card class="center-card-big">
			<mat-card-header>
				<mat-card-title>Designs</mat-card-title>
			</mat-card-header>
			<mat-card-content class="center-card-fields">
				@if (designList().length > 0) {
				@if (!designsEdit()) {
				<mat-nav-list>
					@for (design of designList(); track design.id) {
					<a mat-list-item
					   [routerLink]="['/edit-design', design.id, design.slug]"> {{ design.name }} </a>
					}
				</mat-nav-list>
				}
				@else {
				<mat-list>
					@for (design of designList(); track design.id) {
					<mat-list-item role="listitem">
						<div class="design-data">
							<span class="design-name">{{ design.name }}</span>
							<button mat-icon-button
									aria-label="Edit design settings"
									[routerLink]="['/design-settings', design.id, design.slug]">
								<mat-icon>create</mat-icon>
							</button>
							<button mat-icon-button
									aria-label="Delete design"
									(click)="deleteDesign(design)">
								<mat-icon>delete_forever</mat-icon>
							</button>
						</div>
					</mat-list-item>
					}
				</mat-list>
				}
				}
				@else {
				<h3 class="center">There are no designs yet.</h3>
				}
			</mat-card-content>
		</mat-card>

		@if (!designsEdit()) {
		<button class="fab-button"
				mat-fab
				color="primary"
				aria-label="New design"
				routerLink="/new-design">
			<mat-icon>add</mat-icon>
		</button>
		}

	</mat-drawer-content>
</mat-drawer-container>