<mat-toolbar class="toolbar">
	<mat-toolbar-row>
		<button routerLink="/main"
				mat-icon-button>
			<mat-icon>arrow_back</mat-icon>
		</button>
		<span class="wide-toolbar">{{design.name}}</span>
		<button class="mobile-menu"
				mat-icon-button
				(click)="mobileCloseTools()">
			<mat-icon>menu</mat-icon>
		</button>
	</mat-toolbar-row>
</mat-toolbar>

@if (designLoading()) {
<div class="loading">
	<mcd-loading [big]="true" />
	<br>
	Cargando...
</div>
}

<div #toolBox
	 class="tools-box"
	 [class]="{'tools-box-show': design.id, 'tools-box-hide': mobileToolsClosed()}"
	 cdkDrag
	 (cdkDragEnded)="toolsDragEnd()"
	 [style.top.px]="initialPosition.y"
	 [style.left.px]="initialPosition.x">
	<div class="tools-header">
		<button mat-icon-button
				title="Close toolbar"
				class="tools-closed-btn"
				[class]="{'tools-closed-btn-closed': toolsClosed()}"
				(click)="closeTools()">
			<mat-icon>expand_less</mat-icon>
		</button>
		<span>{{selectedTool.name}}</span>
		<div cdkDragHandle>
			<mat-icon class="tools-handler">zoom_out_map</mat-icon>
		</div>
	</div>
	<div [class]="{'tools-closed': toolsClosed()}">
		<div class="tools-options">
			<div class="tools-options-row">
				<div class="tools-option"
					 [class]="{'tools-option-selected': selectedTool.option === 'paint'}"
					 title="Paint"
					 (click)="selectOption('paint','Paint')">
					<mat-icon>brush</mat-icon>
				</div>
				<div class="tools-option"
					 [class]="{'tools-option-selected': selectedTool.option === 'picker'}"
					 title="Texture picker"
					 (click)="selectOption('picker','Texture picker')">
					<mat-icon>colorize</mat-icon>
				</div>
				<div class="tools-option"
					 [class]="{'tools-option-selected': selectedTool.option === 'fill'}"
					 title="Fill with texture"
					 (click)="selectOption('fill','Fill with texture')">
					<mat-icon>opacity</mat-icon>
				</div>
				<div class="tools-option"
					 [class]="{'tools-option-selected': selectedTool.option === 'line'}"
					 title="Draw a line"
					 (click)="selectOption('line','Draw a line')">
					<mat-icon>sync_alt</mat-icon>
				</div>
			</div>
			<div class="tools-options-row">
				<div class="tools-option"
					 [class]="{'tools-option-disabled': undoList.length === 0}"
					 title="Undo"
					 (click)="undo()">
					<mat-icon>undo</mat-icon>
				</div>
				<div class="tools-zoom">
					<div class="tools-zoom-less"
						 title="Reduce zoom level"
						 (click)="adjustZoom('l')">-</div>
					<div class="tools-zoom-level"
						 title="Reset zoom level"
						 (click)="adjustZoom('r')">{{zoomLevel()}}%</div>
					<div class="tools-zoom-more"
						 title="Increase zoom level"
						 (click)="adjustZoom('m')">+</div>
				</div>
				<div class="tools-option"
					 [class]="{'tools-option-on': showRulers()}"
					 title="Show rulers"
					 (click)="changeRulers()">
					<mat-icon>square_foot</mat-icon>
				</div>
			</div>
		</div>
		<div class="tools-textures">
			<div class="tools-texture-selected">
				<div [class]="'texture-option texture_'+textures[currentTexture()].id"
					 title="{{textures[currentTexture()].name}}"
					 (click)="openTextures()"></div>
				<div class="tools-texture-name">{{textures[currentTexture()].name}}</div>
			</div>
			@if (showTextures()) {
			<div class="tools-textures-list">
				@for (texture of textures; track texture.id) {
				<div [class]="'texture-option texture_'+texture.id"
					 title="{{texture.name}}"
					 (click)="selectTexture(texture)"></div>
				}
			</div>
			}
		</div>
		@if (design.levels.length>0) {
		<div class="tools-level">
			<button mat-icon-button
					title="Show level list"
					class="levels-deploy-btn"
					[class]="{'levels-deployed': showLevels()}"
					(click)="deployLevels()">
				<mat-icon>expand_more</mat-icon>
			</button>
			<span>{{design.levels[currentLevel()].name}}</span>
			<button mat-icon-button
					title="Add new level"
					(click)="addNewLevel()">
				<mat-icon>add_circle_outline</mat-icon>
			</button>
		</div>
		}
		@if (showLevels()) {
		<div>
			@for (level of design.levels; track level.id) {
			<div class="tools-level-item">
				<span (click)="selectLevel(level)">{{level.name}}</span>
				<button mat-icon-button
						title="Rename"
						(click)="renameLevel(level)">
					<mat-icon>create</mat-icon>
				</button>
				<button mat-icon-button
						title="Copy"
						(click)="copyLevel(level)">
					<mat-icon>file_copy</mat-icon>
				</button>
				@if (design.levels.length > 1) {
				<button mat-icon-button
						title="Delete"
						(click)="deleteLevel(level)">
					<mat-icon>delete_forever</mat-icon>
				</button>
				}
			</div>
			}
		</div>
		}
	</div>
	<div class="tools-footer">
		<button mat-flat-button
				color="primary"
				[disabled]="savingDesign()"
				(click)="saveDesign()">
			@if (savingDesign()) {
			<mcd-loading />
			}
			Save
		</button>
	</div>
</div>

@if (design.id) {
<div class="main"
	 [style]="{'height': boardHeight() + 'px'}">
	@for (row of design.levels[currentLevel()].data; track row; let i = $index) {
	<div class="row"
		 [style]="{'width': rowWidth() + 'px'}">
		@for (cell of row; track cell; let j = $index) {
		<div (click)="selectCell(i, j)"
			 [class]="'cell texture_'+design.levels[currentLevel()].data[i][j]"
			 [style]="{'width': (zoomLevel() * 0.2) + 'px', 'height': (zoomLevel() * 0.2) + 'px'}">
			@if ((showRulers()) && (i%5===0 || j%5===0)) {
			<div class="ruler"></div>
			}
			@if (line.start.x===i && line.start.y===j) {
			<div class="line-start"></div>
			}
		</div>
		}
	</div>
	}
</div>
}