<mat-toolbar>
	<mat-toolbar-row>
		<button routerLink="/main"
				mat-icon-button>
			<mat-icon>arrow_back</mat-icon>
		</button>
		<span>Profile</span>
	</mat-toolbar-row>
</mat-toolbar>

<form name="frm-profile"
	  (ngSubmit)="updateProfile($event)">
	<mat-card class="center-card">
		<mat-card-header>
			<mat-card-title>Update profile</mat-card-title>
		</mat-card-header>
		<mat-card-content class="center-card-fields">
			<mat-form-field>
				<mat-label>E-mail address</mat-label>
				<input matInput
					   [(ngModel)]="profile.email"
					   required
					   name="email">
			</mat-form-field>
			<div class="update-password">
				<p>If you don't want to change your password, just leave these three fields empty.</p>
				<mat-form-field>
					<mat-label>Current password</mat-label>
					<input type="password"
						   matInput
						   [(ngModel)]="profile.oldPass"
						   name="old_pass"
						   autocomplete="new-password">
				</mat-form-field>
				<mat-form-field>
					<mat-label>New password</mat-label>
					<input type="password"
						   matInput
						   [(ngModel)]="profile.newPass"
						   name="new_pass"
						   autocomplete="new-password">
				</mat-form-field>
				<mat-form-field>
					<mat-label>Confirm password</mat-label>
					<input type="password"
						   matInput
						   [(ngModel)]="profile.confPass"
						   name="conf_pass"
						   autocomplete="new-password">
				</mat-form-field>
			</div>
		</mat-card-content>
		<mat-card-actions class="center-card-buttons center-card-buttons-end">
			<button mat-flat-button
					color="primary"
					[disabled]="saveSending()"
					type="submit">
				@if (saveSending()) {
				<mcd-loading />
				}
				Continue
			</button>
		</mat-card-actions>
	</mat-card>
</form>